<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-color: black;
          color: white;
        }
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label>Email</label>
<input type="text"required name="email" placeholder="example@gmail.com"/>
<label>Password</label>
<input type="text"required name="password" placeholder="password"/>
<button type="submit">login</button>
    </form>
</body>
</html>