<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
          background-color: black;
          color: white;
        }
      </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Signup</h1>
<div> 
<form action="/signup" method="post"> 
<label>Full Name</label>
<input type="text"required name="name" placeholder="Name"/>
<label>Email</label>
<input type="text"required name="email" placeholder="example@gmail.com"/>
<label>Password</label>
<input type="text"required name="password" placeholder="password"/>
<button type="submit">Signup</button>
</form>
</div>
</body>
</html>